In [1]:
type(1)

int

In [2]:
type(3.3)

float

In [3]:
type("hello")

str

In [4]:
type('sk planet')

str

## Int 정수형

## Float

##   String

In [5]:
'5'+'3'

'53'

In [7]:
int('5') + int('3')

8

In [8]:
float('3.5')

3.5

In [9]:
a= 3

In [11]:
'hello' + str(3)

'hello3'

## Bool

In [13]:
True

True

In [14]:
False

False

In [15]:
5>3

True

In [16]:
3 == 3

True

In [17]:
3>3

False

## 변수

In [18]:
a = 3
b = 5

In [19]:
type(a)

int

In [20]:
a+b

8

In [22]:
a == 4

False

In [23]:
a = 3
a == 3

True

## Collection
   #### 여러 값들을 묶어서 사용하는 데이터 타입
## List
   ####  가장많이 사용됨, 순서가 있고, 중복값을 허용

In [24]:
numbers = [1,2,3,4,5]

In [25]:
numbers

[1, 2, 3, 4, 5]

In [27]:
type(numbers)

list

In [30]:
numbers[4]

5

In [31]:
len(numbers)

5

In [32]:
# nubers[5] out of range error

NameError: name 'nubers' is not defined

In [34]:
numbers[-1]

5

## Set
집합,
순서가 없고,
중복을 허용하지 않는다.

In [39]:
numbers = [1, 3, 1, 2, 3, 5, 7, 10, 10, 10]
numbers

[1, 3, 1, 2, 3, 5, 7, 10, 10, 10]

In [40]:
s1 = set(numbers)

In [41]:
s1

{1, 2, 3, 5, 7, 10}

## Dictionary

In [42]:
address = {'정호영' : '111-222-3333', 
           'Alice' : '777-7777',
           'Bob' : '333-3333'
          }

In [43]:
address

{'Alice': '777-7777', 'Bob': '333-3333', '정호영': '111-222-3333'}

In [46]:
address['Bob']

'333-3333'

In [47]:
scores = {'정호영' : 33, 
           'Alice' : 70,
           'Bob' : 100
          }

In [49]:
# socres['John'] # key error

In [51]:
'Jhon' is scores

False

In [55]:
'Alice' in scores

True

In [56]:
scores['John'] = 44

In [57]:
scores

{'Alice': 70, 'Bob': 100, 'John': 44, '정호영': 33}

In [58]:
p = {"name":"정호영", "money": 50, "age": 25}

In [60]:
p['name']

'정호영'

In [ ]:
scores