In [1]:
def hello(name):
    print("{}님 안녕하세요?".format(name))

hello('파이썬')
hello('코브라')

파이썬님 안녕하세요?
코브라님 안녕하세요?

In [3]:
def hap(a, b):
    c = a + b
    print("{} + {} = {}".format(a, b, c))

In [4]:
x = hap(2, 3)
print(x)

2 + 3 = 5
None

In [5]:
def hap(a, b):
    '''두 수를 합을 리턴해 줌'''
    return a + b
x = hap(2, 3)
print(x)

5

In [6]:
def foo():
    """아무 것도 안 하는 함수"""
    print("푸")

In [7]:
foo()

푸

In [8]:
foo?

In [10]:
## 16진수 변환 
str = "FFFF"
n1 = int(str, 16)

In [11]:
import math 
print(math.floor(32.5))
print(math.ceil(32.5))

32
33

In [12]:
"hello,world,this,is,lonely,planet".split(",")

['hello', 'world', 'this', 'is', 'lonely', 'planet']

In [13]:
"hello|world".split("|")

['hello', 'world']

In [15]:
a = ['s','i','m']
"-".join(a)
",".join(a)
"".join(a)

'sim'

In [16]:
"-".join(a)

's-i-m'

In [17]:
",".join(a)

's,i,m'

In [18]:
"".join(a)

'sim'

In [20]:
a = []
a.append(1)
a.append(3)
a.append(5)

print(a)

[1, 3, 5]

In [21]:
x = a.pop()
print(x)

5

In [22]:
a

[1, 3]

In [23]:
a = [100, 200, 300, 200]
a.index(200)

1

In [24]:
a.remove(200)
a

[100, 300, 200]

In [27]:
if 50 in a:
    a.remove(50)
else :
    print("없습니다")
a

없습니다

[100, 300, 200]

In [28]:
a = {'name':'honux', 'age': 40, 'money': 99999999}
a.get('name')

'honux'

In [29]:
a['name']

'honux'

In [32]:
a.get('grilfriend')

In [33]:
# a['girlfriend'] # key error

In [34]:
def hap(a , b):
    return a + b
n = hap(2, 5)
print(n)

7

In [35]:
def mydouble(n):
    return 2*n
mydouble(10)

20

In [43]:
a = [2,3,4,5]

In [44]:
list(map(mydouble, a))

[4, 6, 8, 10]

In [45]:
a2 = []
for i in a:
    a2.append(mydouble(i))
a2

[4, 6, 8, 10]

In [49]:
a = [1,2,3,4]
a2 = list(map(lambda x:x*2,a))
a2

[2, 4, 6, 8]

In [51]:
list(filter(lambda x:x%2 == 0, a))

[2, 4]

In [52]:
from functools import reduce

In [53]:
a = list(range(1, 11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
[x*2 for x in a]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [55]:
[x*2 for x in a if x > 5]

[12, 14, 16, 18, 20]